{% extends 'index.html' %}

{% block cards_shops %}

<div class="container-cards-products">    
    {% block cards_products %}
    {% endblock %}
</div>

<div class="container mt-5">

    <h1 class="text-center text-black mb-4">Tiendas</h1>
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            {% for columna in matriz_tiendas %}
                {% if loop.first %}
                    <div class="carousel-item active">
                {% else %}
                    <div class="carousel-item">
                {% endif %}
                    <div class="row justify-content-center">
                        <div class="col-md-4">
                            <div class="card mb-4 rotate-card">
                                <h5 class="card-title text-center my-4">{{ columna.1 }}</h5>
                                <img class= "picture_shop"src="{{ columna.4 }}" class="card-img-top" alt="Product Picture: {{ columna.1 }}">
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item text-center"></li>
                                    <li class="list-group-item text-center">Telefono: {{ columna.2 }}</li>
                                    <li class="list-group-item text-center">Ruc: {{ columna.3 }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <button class="carousel-control-prev" style="background-color: pink;" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" style="background-color: pink;" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<style>
    /* Aplica dimensiones fijas de 400px x 400px a la clase picture_product */
    .picture_shop {
        width: 400px;
        height: 400px;
    }
</style>

{% endblock %}